
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-sm" (click)="goBack()">
          <i class="fa fa-caret-left"></i>
          Back
        </a>
      </div>
      <div class="col-md-6" *ngIf="FormLabelState!='New'">
        <div class="btn-group pull-right">
          <a class="btn btn-primary btn-sm" (click)="getRoles(app)">
            <i class="fa fa-universal-access"></i>
            Services
          </a>
          <!-- <a class="btn btn-primary btn-sm" (click)="getUsers(app)">
            <i class="fa fa-user-circle"></i>
            Users
          </a> -->
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>{{FormLabelState}} Role</h5>
          </div>
          <form [formGroup]="roleForm" (ngSubmit)="save()">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label>Role Name</label>
                    <input type="text" class="form-control input-sm" formControlName="RoleName"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button [disabled]="roleForm.status=='INVALID'" type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
    
    <div class="row" *ngIf="roleID!=null">
      <div class="container">
        
        <tabset>
          <tab heading="Users" id="tab1">
              <app-applications-roles-users></app-applications-roles-users>
          </tab>
          <tab heading="Services">
              <app-services></app-services>
          </tab>
          <tab heading="Roles inherited">

          </tab>
        </tabset>
        
      </div>
    </div>
  </div>