<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class=col-md-12>
              <div class="form-group">
                <label class="input-sm">Username</label>
                <input type="text" class="form-control input-sm" placeholder="Enter username..." />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="input-sm">Password</label>
                <input type="password" class="form-control input-sm" placeholder="Enter password..." />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-success btn-sm pull-right" (click)="onClick()">
                <i class="fa fa-sign-in"></i>
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>