<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-sm" (click)="goBack()">
          <i class="fa fa-caret-left"></i>
          Back
        </a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>{{FormLabelState}} User</h5>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="save()">          
            <div class="panel-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control input-sm" formControlName="FirstName"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control input-sm" formControlName="LastName"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control input-sm" formControlName="UserName"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button [disabled]="userForm.status=='INVALID'" type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>            
        </div>
      </div>
    </div>
  </div>