<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="btn-group">
        <a class="btn btn-primary btn-sm" (click)="addApp()">
          <i class="fa fa-plus"></i>
          Add Application
        </a>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered table-hover table-striped input-sm">
        <thead>
          <tr>
            <th>Application Name</th>
            <th>Application Member Name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of apps">
            <td>
              <a role="button" (click)="openApp()">
                {{app.AppName}}
              </a>
            </td>
            <td>
              {{app.AppMemberName}}
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-xs" title="Edit" (click)="editApp()"> <!--(click)="editApp({{app.AppID}})">-->
                  <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-xs" title="Delete" (click)="deleteApp()"> <!--(click)="deleteApp({{app.AppID}})">-->
                  <i class="fa fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>